<html>
    <head>
        <title> 도서관정보 입력하기</title>
        <script>
            // 저장버튼 클릭시 호출되는 함수
            function send(){
                // popup 창 띄우기 (경고)
                alert('입력합니다.');
                //html 문서중에 fm 라는 속성을 가지는 id 값을 가져와라 
                document.getElementById('fm').submit(); // submit() : fm의 action에 있는 링크로 이동시켜라 
            }
        </script>
    </head>
<body>
    <form name = 'fm' id='fm' method = 'post' action = '/libapp/lib_insert/'> <!-- post 방식으로 값 전달 주소값 슬래쉬!!-->
        <input type = 'hidden' name='lib_name' value={{lib_name}}>
        <input type = 'hidden' name='loc' value={{loc}}>
        <input type = 'hidden' name='loc2' value={{loc2}}>
        <input type = 'hidden' name='year' value={{year}}>
        <input type = 'hidden' name='addrr' value={{addrr}}>
        <input type = 'hidden' name='num' value={{num}}>
        <input type = 'hidden' name='homep' value={{homep}}>
        <input type = 'hidden' name='open_time' value={{open_time}}>
        <input type = 'hidden' name='rest_day' value={{rest_day}}>
        {%csrf_token%}<!-- forbidden 오류 ! -->
        <center>
        <p> 도서관정보 입력 </p>
        <table border ='1'>
            <tr>
                <td style = 'background-color:slategray'><span style = 'color : white'> 도서관명 </span> </td>
                <td><input type ='text' name = 'lib_name' value = ''></td><tr></tr>
                <td style = 'background-color:slategray'><span style = 'color : white'> 지역 </span></td>
                <td><input type ='text' name = 'loc' value = ''></td><tr></tr>
                <td style = 'background-color:slategray'><span style = 'color : white'> 상세지역</span> </td>
                <td><input type ='text' name = 'loc2' value = ''></td><tr></tr>
                <td style = 'background-color:slategray'><span style = 'color : white'> 개관년도 </span></td>
                <td><input type ='text' name = 'year' value = ''></td><tr></tr>
                <td style = 'background-color:slategray'><span style = 'color : white'> 상세주소</span> </td>
                <td><input type ='text' name = 'addrr' value = ''></td><tr></tr>
                <td style = 'background-color:slategray'><span style = 'color : white'> 전화번호</span> </td>
                <td><input type ='text' name = 'num' value = ''></td><tr></tr>
                <td style = 'background-color:slategray'><span style = 'color : white'> 홈페이지</span> </td>
                <td><input type ='text' name = 'homep' value = ''></td><tr></tr>
                <td style = 'background-color:slategray'><span style = 'color : white'> 개관시간</span> </td>
                <td><input type ='text' name = 'open_time' value = ''></td><tr></tr>
                <td style = 'background-color:slategray'> <span style = 'color : white'>휴관일 </span></td>
                <td><input type ='text' name = 'rest_day' value = ''></td><tr></tr>
            </tr>
        </table>
        <a href = '#' onclick = 'send();'>[저장]</a> <!-- send form tag 내의 action을 실행, 페이지 이동 name에 있는 모든 값 가지고-->
    </center>
    </form>
</body>

</html>