<html>
    <head>
        <title>설문목록</title>
    
        <style>
            body  {padding:0px; margin:0px;}
        #divPosition{
            background-color : #FFCCCC;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -100px 0px 0px -200px;
            width: 400px;
            height: 120px;
            padding :5px;
        }
        </style>
        <style>
            .button {
            background-color: ivory;
            color:black;
            }
        </style>
    </head>
    <body>
        <div id = 'divPosition'>
        <center>
        <h3>방문 도서관에 대한 만족도 조사 </h3>
        </center>
        <hr/>
        <p>
            <center>
            
            <a class="button" href="/libapp/survey">설문참여하기</a>
            {% comment %} <a href = '/libapp/survey'> 설문참여하기</a> {% endcomment %}
            {% comment %} <a href = '/libapp/analysis'>분석 결과보기</a> {% endcomment %}
            </center>
        </p>
        <p>
            {{df|safe}}
        </p>
    </div>
    </body>
</html>