<html>
<head>
    <title>만족도 조사</title>
</head>
<body>
    <center>
    <h2>* 방문 도서관 만족도 항목 *</h2>
    <form action="/libapp/insert/" method="post"><!-- 포스트 방식으로 넘어온다-->
        {% csrf_token %}
    <table>
        <tr>
            <td style = 'background-color :antiquewhite'>1. 귀하의 성별은?</td>
            <tr>
            <td>
                <label for="genM">남</label>
                <input type="radio" id="genM" name="gender" value="남" checked="checked"> <!-- 최초에 기본 선택 : 남자-->
                &nbsp
                <label for="genF">여</label>
                <input type="radio" id="genF" name="gender" value="여"> <!-- check된 값이 넘어간다-->
                <br></br>
            </td>
            </tr>
        </tr>

        <tr>
            <td style = 'background-color :antiquewhite'>2. 귀하의 나이는?</td>
            <tr>
            <td>
                <label for="age10">10대</label>
                <input type="radio" id="age10" name="age" value="10" checked="checked">
                &nbsp
                <label for="age20">20대</label>
                <input type="radio" id="age20" name="age" value="20">
                &nbsp
                <label for="age30">30대</label>
                <input type="radio" id="age30" name="age" value="30">
                &nbsp
                <label for="age40">40대</label>
                <input type="radio" id="age40" name="age" value="40">
                &nbsp
                <label for="age50">50대</label>
                <input type="radio" id="age50" name="age" value="50">
                <br></br>
            </td>
            </tr>
        </tr>
        <tr>
            <td style = 'background-color :antiquewhite'>3. 귀하가 방문한 도서관의 사서는 친절 하게 응대해 주었습니까 ?</td>
            <tr>
            <td>
                <label for="YY_lib">매우그렇다</label>
                <input type="radio" id="YY_lib" name="lib_survey" value="매우그렇다" checked="checked">
                &nbsp
                <label for="Y_lib">그렇다</label>
                <input type="radio" id="Y_lib" name="lib_survey" value="그렇다">
                &nbsp
                <label for="S_lib">보통이다</label>
                <input type="radio" id="S_lib" name="lib_survey" value="보통이다">
                &nbsp
                <label for="N_lib">그렇지않다</label>
                <input type="radio" id="N_lib" name="lib_survey" value="그렇지않다">
                &nbsp
                <label for="NN_lib">매우그렇지않다</label>
                <input type="radio" id="NN_lib" name="lib_survey" value="매우그렇지않다">
                <br></br>
            </td>
            </tr>
        </tr>
        <tr>
            <td style = 'background-color :antiquewhite'>4. 도서관 구내식당에 대한 만족도는 어떻습니까?</td>
            <tr>
            <td>
                <label for="YY_food">매우만족</label>
                <input type="radio" id="YY_food" name="food_survey" value="매우만족" checked="checked">
                &nbsp
                <label for="Y_food">만족</label>
                <input type="radio" id="Y_food" name="food_survey" value="만족">
                &nbsp
                <label for="S_food">보통</label>
                <input type="radio" id="S_food" name="food_survey" value="보통">
                &nbsp
                <label for="N_food">불만족</label>
                <input type="radio" id="N_food" name="food_survey" value="불만족">
                &nbsp
                <label for="NN_food">매우불만족</label>
                <input type="radio" id="NN_food" name="food_survey" value="매우불만족">
                <br></br>
            </td>
            </tr>
        </tr>
        <tr>
            <td style = 'background-color :antiquewhite'>5. 귀하의 도서관 한달 방문 횟수는 어떻게 됩니까?</td>
            <tr>
            <td>
                <label for="under_1">1회미만</label>
                <input type="radio" id="under_1" name="visit_survey" value="1회미만" checked="checked">
                &nbsp
                <label for="under_5">5회미만</label>
                <input type="radio" id="under_5" name="visit_survey" value="5회미만">
                &nbsp
                <label for="under_10">10회미만</label>
                <input type="radio" id="under_10" name="visit_survey" value="10회미만">
                &nbsp
                <label for="under_20">20회미만</label>
                <input type="radio" id="under_20" name="visit_survey" value="20회미만">
                &nbsp
                <label for="over_20">20회이상</label>
                <input type="radio" id="over_20" name="food_survey" value="20회이상">
                <br></br>
            </td>
            </tr>
        </tr>
        <tr>
            <td style = 'background-color :antiquewhite'>6. 귀하의 도서관 방문 목적은 무엇입니까?</td>
            <tr>
            <td>
                <label for="read">독서</label>
                <input type="radio" id="read" name="purpose_survey" value="독서" checked="checked">
                &nbsp
                <label for="rest">휴식</label>
                <input type="radio" id="rest" name="purpose_survey" value="휴식">
                &nbsp
                <label for="study">공부</label>
                <input type="radio" id="study" name="purpose_survey" value="공부">
                &nbsp
                <label for="etc">기타</label>
                <input type="radio" id="etc" name="purpose_survey" value="기타">
                <br></br>
            </td>
            </tr>
        </tr>
        <tr>
            <td style = 'background-color :antiquewhite'>7. 도서관에서 운영하는 프로그램에 참여한 적이 있습니까?</td>
            <tr>
            <td>
                <label for="Y">예</label>
                <input type="radio" id="Y" name="program_survey" value="예" checked="checked">
                &nbsp
                <label for="N">아니오</label>
                <input type="radio" id="N" name="program_survey" value="아니오">
                <br></br>
            </td>
            </tr>
        </tr>
        <tr>
            <td colspan="2">
            <br>
            <center>
            <input type="submit" value="설문완료"> <!-- submit (명령어) : 상단 action에 있는 링크로 저장된 값 전달 -->
            <input type="reset" value="초기화">
            </center>
        </tr>
    </table>
    </form>
</body>
</center>