<!--{{df}}값 넣을 때는 중괄호 2개--> 

<html>
    <head>
        <title> 도서관 전체 리스트 </title>
    </head>
    <body>
        <center>
        <a href = 'http://127.0.0.1:8000/libapp/index/'>[HOME]</a>
        <h1>도서관 리스트 조회</h1>
        <p>공공도서관</p>
        <table border=3>
        <tr style = 'background-color:bisque'> <!-- tr: 행 하나 만들기-->
                <th>도서관명</th>
                <th>지역</th>
                <th>상세지역</th>
                <th>개관년도</th>
                <th>상세주소</th>
                <th>전화번호</th>
                <th>홈페이지</th>
                <th>개관시간</th>
                <th>휴관일</th>
        </tr>    

        {% for l in df%}<!--리스트 하나씩, 행-->
        <tr>
            <td>{{l.lib_name}}</td>
            <td>{{l.loc}}</td>
            <td>{{l.loc2}}</td>
            <td>{{l.year}}</td>
            <td>{{l.addrr}}</td>
            <td>{{l.num}}</td>
            <td>{{l.homep}}</td>
            <td>{{l.open_time}}</td>
            <td>{{l.rest_day}}</td>
            </td>
        </tr>
        {% endfor %}
        <div class='container text-center' style='width:100%;'>
            <div class='now'>
                <div class='col'>
                    <p>
                        <ul class='pagination' style='justify-content:center; font-size:12px;'>
                            <!---이전버튼 처리 시작-->
                            <!--
                                'oracle:cart_list_page' 네임스페이스 가능
                                <네임스페이스> :  이름으로 찾아가는 기능-->
                            {% if is_prev %}
                            <li class='page-item'>
                                <a class ='page-link'
                                    href='{% url "dbapp:cart_list_page" %}?page={{start_page | add:"-10"}}'>
                                        <span aria-hidden='true'>
                                    [이전]
                                </a>
                            </li>
                            {% endif %}
                            <!---이전버튼 처리 끝-->
                            <!---페이지처리 처리 시작-->
                            {% for i in page_range %}
                            <li class='page-item'>
                                <a class ='page-link'
                                    href='{% url "dbapp:cart_list_page" %}?page={{i}}'>{{i}}</a>
                            </li>
                            {% endfor %}
                            <!---다음버튼 처리 시작-->
                            {% if is_next %}
                            <li class='page-item'>
                                <a class ='page-link'
                                    href='{% url "dbapp:cart_list_page" %}?page={{start_page | add:"10"}}'>
                                        <span aria-hidden='true'>
                                    [다음]
                                </a>
                            </li>
                            {% endif %}
                            <!---다음버튼 처리 끝-->
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <!-- bootstrap javascript 코드 추가.. -->    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- 이미지 슬라이딩은 아래 링크를 추가하여 사용하면 됨.. 
        위에 cdn 스크립트는 지원이 안되는 듯..-->
        <script src="https://getbootstrap.kr/docs/5.0/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
                crossorigin="anonymous"></script>
    </center>
        </table>
    </body>
</html>